/*importing the font family Open Sans from google fonts*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");

/*scroll smoothly to different parts of the page when internal links are clicked*/
html{
  scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans';
	font-weight: 300;
	background: white;
	color: gray;
	margin: 0;
	padding-top: 40px;
  	padding: 0 5%;
	text-align: justify;
}

/*code for the picture grid, which consists of four equal columns that float next to each other*/
.column {
 float: left;
 width: 20%;
 padding: 20px;
}

/*styling images within grid*/
.column img {
 opacity: 0.8;
 cursor: pointer;
}

/*make images "solidify" when hovering over them*/
.column img:hover {
 opacity: 1;
}

/*clear floats after the columns*/
.row:after {
 content: "";
 display: table;
 clear: both;
}

/*the expanding image container (positioning is needed to position the close button and the text) (hidden at first)*/
.container {
 position: relative;
 display: none;
}

/*alt text of the expanded images*/
#imgtext {
 position: absolute;
 bottom: 15px;
 left: 15px;
 color: white;
 font-size: 20px;
}

/*close button inside the image*/
.closebtn {
 position: absolute;
 top: 10px;
 right: 15px;
 color: white;
 font-size: 35px;
 cursor: pointer;
}

/*general styling for text types*/
p {font-size: 1.2em; line-height: 1.2em; color: #333; }

h1, h2, h3, h4 { font-family: 'Open Sans'; text-align: center;}
h1 { background-color: white; font-size: 3em; color:black; }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

/*styling for floating menu bar*/
ul { list-style: none; }

#n1 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
  	color: white;
}

#brand {
	font-weight: 400;
	padding: 10px;
	font-size: 1.2em;
	transition: .2s;
  	color: white;
}

#n2 {
	width: 100%;
	position: fixed;
	text-align: right;
	top: 0;
	left: 0;
	background: black;
	margin: 0;
	padding: 0;
}

#brand:hover, #n2 li:hover, #l:hover {
	color: black;
	background: #fff;
}

#n2 li {
	list-style-type: none;
	display: inline-block;
  color: white;
	padding: 10px;
	transition: .2s;
	font-size: 1.2em;
}
/*end of styling for floating menu bar*/

/*styling for donate button (from w3 schools)*/
.glowhover {
    width: 500px;
    height: 80px;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 2em;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glowhover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glowhover:active {
    color: #000
}

.glowhover:active:after {
    background: transparent;
}

.glowhover:hover:before {
    opacity: 1;
}

.glowhover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/*end of styling for donate button (from w3 schools)*/

/*styling for input fields in 'Request an Invitation'*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/*styling for submit button*/
input[type=submit] {
  background-color: grey;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*darken color of submit button while hovering*/
input[type=submit]:hover {
  background-color: black;
}

/*background color and padding for the invitation form*/
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
