body, html{
	height: 100%;
	margin: 0;
}

body{
	background-image: url("https://icanbecreative.com/resources/files/articles/40-high-resolution-wallpapers-for-minimalist-lovers/sources/everest-minimalist-wallpaper-blue.png");	
	background-size: contain;
}

canvas{
	width: 100%;
      	position:absolute;
      	left:0;
      	top:0;
      	z-index:0;
}

div{
      	z-index:1;
      	left:12px;
      	top:10px;
}
